@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.header {
  width: 100%;
  height: 5rem;
  /* background-color: #38015c; */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("lightsGrey.jpg");
  background-size: 40px 40px;
  background-repeat: repeat;
}

.header:hover {
  background-image: url("lights.jpg");
}

.header:hover .logo {
  background: linear-gradient(90deg, #1a02a2, #5440e9, #5440e9, #1a02a2);
}

.logo {
  background: linear-gradient(90deg, #800000, #ff0000, #ff0000, #800000);
  font-family: Lobster, cursive;
  font-size: 35px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50px;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-left: 5%;
}

.header button {
  font: inherit;
  background-color: transparent;
  border: 1px solid white;
  color: black;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.header a:hover {
  color: red;
}

.header button:hover {
  color: red;
}

.search-container {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.dropdown {
  background-color: white;
  display: flex;
  position: absolute;
  width: 220px;
  flex-direction: column;
  border: 1px solid gray;
  z-index: 1;
}

.dropdown:empty {
  border: none;
}

.dropdownRow {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

input {
  width: 220px;
}

.searchInner {
  display: flex;
}

.title {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding-left: 5%;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: white;
  margin: 0;
}

.navList {
  border-radius : 45px;
  background-color: lightgoldenrodyellow;
  text-align: center;
  border : 10px double black;
}
