.starting {
  margin: 3rem auto;
  text-align: center;
}

.starting h1 {
  font-size: 5rem;
}

.main {
  margin: auto;
  width: 50%;
  padding: 40px;
}

.search {
  width: fill;
  height: 35px;
}

.searchContainer {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.searchInner {
  width: 50%;
  margin:auto;
  padding: 10px;
}